#main-header {
    background-color: #280446;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    position: sticky;
    top: 0;
    z-index: 50;
}
.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;    
    padding-bottom: 1rem; 
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    color: #e6d9f0; 
    text-decoration: none;
}

.logo svg {
   
    stroke: currentColor; 
    width: 24px; 
    height: 24px;
}

.logo-text {
    font-size: 1.5rem; 
    font-weight: 800;  
    letter-spacing: -0.025em; 
    color: #fff;
    margin-left: 10px;
}
.main-nav {
    display: flex; 
    gap: 1.5rem; 
}
.nav-link {
    color: #e6d9f0; 
    font-weight: 700; 
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}
.nav-link:hover {
    color: #aa94bd; 
}
.cta-button {
    padding: 0.5rem 1.25rem; 
    font-weight: 700; 
    color: #fff;
    border-radius: 0.5rem; 
    background-color: #460779; 
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 10px 15px -3px #460779, 0 4px 6px -2px #4f46e580; 
}
.cta-button:hover {
    background-color: #654d78; 
}
.cta-button.large {
    font-size: 1.125rem; 
    font-weight: 800; 
    border-radius: 0.75rem; 
}


#main-footer {
    background-color: #280446;
    box-shadow: 0 4px 6px -1px ; 
    color: #fff;
    padding-top: 2rem;    
    padding-bottom: 2rem;
}
.footer-container {
    text-align: center;
}
.footer-top {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #374151; 
    padding-bottom: 1rem; 
    margin-bottom: 1rem; 
}
.footer-logo {
    font-size: 1.25rem; 
    font-weight: 700; 
    margin: 0 0 1rem 0; 
}
.footer-nav {
    display: flex;
    gap: 1rem; 
}
.footer-link {
    color: #e6d9f0; 
    text-decoration: none;
    font-size: 0.875rem; 
    transition: color 0.15s ease-in-out;
}
.footer-link:hover {
    color: #fff; 
}
.footer-copy {
    font-size: 0.875rem; 
    color: #e6d9f0;
    margin: 0;
}

@media (min-width: 768px) {
    .container {
        padding-left: 1.5rem;  
        padding-right: 1.5rem; 
    }
    .main-nav {
        display: flex; 
        gap: 2rem; 
    }
    .hero-container {
        padding-top: 8rem;    
        padding-bottom: 8rem;
    }
    .hero-title {
        font-size: 3.75rem; 
    }
    .hero-subtitle {
        font-size: 1.25rem; 
    }
    .features-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
    .footer-top {
        flex-direction: row; 
    }
    .footer-logo {
        margin-bottom: 0; 
    }
}

@media (min-width: 1024px) {
    .container {
        padding-left: 2rem;  
        padding-right: 2rem; 
    }
    .hero-container {
        flex-direction: row; 
    }
    .hero-content {
        text-align: left; 
    }
    .hero-image-container {
        margin-top: 0;
    }
}