
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff; 
    color: #3e0a6d;
   
}

.btn-voltar {
    position: absolute;
    left: 0;
    background-color: #f3eef7;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    color: #3e0a6d;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #3e0a6d;
}

.conteudo {
    background-color: #dcd0e3; 
    border-radius: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
   
    flex-direction: column;
}

.tabela-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 10px;
    gap: 10px;
}

.col {
    background-color: #3e0a6d;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 15px;
    font-weight: 500;
    text-align: center;
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-wide {
    flex: 2; 
}

.tabela-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

.pill {
    background-color: #b49bc5; 
    color: #3e0a6d;
    padding: 12px;
    border-radius: 20px; 
    text-align: center;
    font-weight: 800;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
   
}

.formas {
    flex: 2;
    font-weight: normal;
    font-size: 0.85rem;
}


.paginacao-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  
}

.btn-nav {
    background-color: #d1c4da;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    color: #3e0a6d;
    font-weight: bold;
    cursor: pointer;
    
    transition: background 0.2s;
}

.btn-nav{
    background-color: #c4b5d0;
}

.contador-paginas {
    font-size: 0.9rem;
    font-weight: bold;
    color: #3e0a6d;
    margin-right: 10px;
}

.lista-pedidos {
    flex-grow: 1; 
    margin-bottom: 20px;
}

