.botao-logout {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
    font-family: 'Inter', sans-serif;
}

.botao-logout:hover {
    background: #e04343;
    transform: scale(1.05);
}

.botao-logout:active {
    transform: scale(0.97);
}
