
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%; 
    margin: 0;
}

body {
    display: flex;             
    flex-direction: column;   
    background-color: #fff; 
}


.barra-titulo {
    background-color: #6a4c7c; 
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 90%;             
    max-width: 1100px;     
    margin: 30px auto;      
    border-radius: 20px;    
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.botao-voltar-conta {
    background-color: white;
    color: #4a148c;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.botao-voltar-conta:hover{
    background-color: #bcaaa4;
}

.titulo-pagina {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}


.lista-pedidos {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.cartao-pedido {
    background-color: #B4A7D6; 
    border-radius: 50px; 
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.pilula-branca {
    background-color: #fff;
    color: #3e2b56; 
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    font-size: 1rem;
}

.link-numero {
    text-decoration: none; 
    cursor: pointer;
}


.botao-acompanhar {
    background-color: #4a0072; 
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.botao-acompanhar:hover {
    background-color: #6a1b9a;
}

.texto-finalizado {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.check {
    font-size: 1.4rem;
}


@media (max-width: 768px) {
    .cartao-pedido {
        flex-direction: column;
        gap: 15px;
        border-radius: 20px;
        padding: 20px;
    }
    
    .barra-titulo {
        flex-direction: column;
        gap: 15px;
    }
    
    .botao-voltar-conta {
        position: static;
    }
}