
html, body {
    height: 100%; 
    margin: 0;   
    padding: 0;  
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fcfcfc; 
   
}


.barra-topo-pedido {
    background-color: #6a4c7c; 
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 90%;             
    max-width: 1100px;     
    margin: 30px auto;      
    border-radius: 20px;    
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}


.titulo-cabecalho {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.botao-branco-arredondado {
    background-color: white;
    color: #4a148c;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.caixa-numero-pedido {
    background-color: #cfaaf0; 
    color: #4a148c;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}



.conteiner-principal {
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    position: relative; 
    min-height: 500px; 
}

.titulo-bloco {
    color: #4a0072;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}


.area-passos {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 20px;
}

.passo-escudo {
    background-color: #bcaaa4; 
    width: 160px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a0072;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
   
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}


.fundo-barra {
    width: 100%;
    height: 50px;
    background-color: #d7d7d7; 
    border-radius: 25px;
    position: relative;
    overflow: hidden; 
    margin-bottom: 40px;
}

.barra-preenchida {
    height: 100%;
    width: 0%; 
    background-color: #afa2c6; 
    border-radius: 25px;
    transition: width 1.5s ease-in-out; 
}

.texto-porcentagem {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%); 
    color: #4a0072;
    font-weight: bold;
    font-size: 22px;
}

.area-botao-central {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;         
    justify-content: center; 
    gap: 20px;           
    row-gap: 10px;
    flex-wrap: wrap;
}

.botao-cinza-central {
    background-color: #d8dbe2;
    color: #4a0072;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 -5px;
}


